@{
    ViewData["Title"] = "Nic's Coffee Station";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Nic's Coffee Station!</h1>
    <h2> Click on <i>Products</i> to see our available food and beverages.</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
